<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
	</head>
	<body>
		<div dir="ltr" align="left">
			<table style="border: none; border-collapse: collapse">
				<colgroup>
					<col width="573" />
				</colgroup>
				<tbody>
					<tr style="height: 216pt">
						<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
							<br />
							<div dir="ltr" style="margin-left: 0pt" align="center">
								<table style="border: none; border-collapse: collapse">
									<colgroup>
										<col width="95" />
										<col width="380" />
										<col width="83" />
									</colgroup>
									<tbody>
										<tr style="height: 56pt">
											<td style="vertical-align: middle; background-color: rgb(221,0,20); padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; text-align: center; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="
															font-size: 11pt;
															font-family: Arial;
															color: rgb(255, 255, 255);
															background-color: transparent;
															font-variant-numeric: normal;
															font-variant-east-asian: normal;
															vertical-align: baseline;
															white-space: pre-wrap;
														"
														><span style="border: none; display: inline-block; overflow: hidden; width: 54px; height: 54px"
															><img src="https://storage.googleapis.com/workflow-tool-static-resources/Approval-request-sent.png" width="54" height="54" style="margin-left: 0px; margin-top: 0px" class="CToWUd" /></span
													></span>
												</p>
											</td>
											<td style="vertical-align: middle; background-color: rgb(221,0,20); overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="
															font-size: 18pt;
															font-family: Arial;
															color: rgb(255, 255, 255);
															background-color: transparent;
															font-weight: 700;
															font-variant-numeric: normal;
															font-variant-east-asian: normal;
															vertical-align: baseline;
															white-space: pre-wrap;
														"
														>COSTING APPROVAL</span
													>
												</p>
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="
															font-size: 10pt;
															font-family: Arial;
															color: rgb(255, 255, 255);
															background-color: transparent;
															font-variant-numeric: normal;
															font-variant-east-asian: normal;
															vertical-align: baseline;
															white-space: pre-wrap;
														"
														><%=costingProfile.Project.ProjectName%> (<%=costingProfile.Project.ProjectId%>)</span
													>
												</p>
											</td>
											<td style="vertical-align: top; background-color: rgb(221,0,20); overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="
															font-size: 11pt;
															font-family: Arial;
															color: rgb(255, 255, 255);
															background-color: transparent;
															font-variant-numeric: normal;
															font-variant-east-asian: normal;
															vertical-align: baseline;
															white-space: pre-wrap;
														"
														><span style="border: none; display: inline-block; overflow: hidden; width: 26px; height: 37px"
															><img
																alt="N-Element-Tab-White_RGB.png"
																src="https://storage.googleapis.com/workflow-tool-static-resources/N-Element-Tab-White_RGB.png"
																width="26"
																height="37"
																style="margin-left: 0px; margin-top: 0px"
																class="CToWUd" /></span
													></span>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<br />
							<div dir="ltr" style="margin-left: 0pt" align="left">
								<table style="border: none; border-collapse: collapse; width: 100%; table-layout: fixed">
									<colgroup>
										<col />
									</colgroup>
									<tbody>
										<tr style="height: 0pt">
											<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-right: 21.75pt; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="font-size: 12pt; font-family: Arial; color: rgb(221,0,20); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														>INTERNAL ONLY</span
													>
												</p>
											</td>
										</tr>

										<tr style="height: 0pt">
											<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.38; margin-right: 30.75pt; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="
															font-size: 18pt;
															font-family: Arial;
															color: rgb(0, 0, 0);
															background-color: transparent;
															font-weight: 700;
															font-variant-numeric: normal;
															font-variant-east-asian: normal;
															vertical-align: baseline;
															white-space: pre-wrap;
														"
														>APPROVAL <%=isBypassed?"BYPASSED":"DENIED"%></span>
												</p>
											</td>
										</tr>
										<tr style="height: 0pt">
											<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap; font-weight: bold"
														><%=approver%> has <%=isBypassed?"bypassed":"denied"%> cost approval for the following project:</span>
												</p>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														><strong>Project Name: </strong><%=costingProfile.Project.ProjectName%></span>
												</p>	
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														><strong>Commissioning Country: </strong><%=codeLabels.CommissioningCountry%></span>
                                                </p>	
                                                <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														><strong>Office: </strong><%=codeLabels.CommissioningOffice%></span>
                                                </p>
                                                <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														><strong>Industry Vertical: </strong><%=codeLabels.IndustryVertical%></span>
                                                </p>	<br />
                                                <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														><strong>Current Approval Level: </strong><%=approvalLevelLabel%></span>
												</p>
												<div style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt; display: flex;font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;">
													<div><strong>Client Details: </strong></div>
													<div>
														<ul style="list-style:none;padding:0;margin:0; margin-left: 5px;">
															<%if(costingProfile.Project.ContractDetails){%>
															<% costingProfile.Project.ContractDetails.forEach(function(item){ %>
															<li style="margin:0;">
																<%= item.AccountName %> <%if(item.OpportunityNumber) {%>
																	- (<%=item.OpportunityNumber%>) 
																   <%} %>
															</li>
															<% }) %>
															<%}%>
														</ul>
													</div>
												</div>
												<br />
												<div style="background-color: #e0e0e0; padding: 5px">
													<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
														<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
															>Approval Request Justification:</span>
													</p>
													<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
														<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
															><%=costingProfile.ApprovalJustification?costingProfile.ApprovalJustification:"No approval justification was provided."%></span>
													</p>
                                                </div>
                                                <%if (isBypassed){%>
                                                    <div style="background-color: #e0e0e0; padding: 5px">
                                                        <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
                                                            <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
                                                                >Bypass Justification:</span>
                                                        </p>
                                                        <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
                                                            <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
                                                                ><%=bypassJustification?bypassJustification:"No bypass justification was provided."%></span>
                                                        </p>
                                                    </div>
                                                <%}%>
                                                <%if (costingProfile.ApprovalNotes){%>
                                                    <div style="background-color: #e0e0e0; padding: 5px">
                                                        <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
                                                            <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
                                                                >Approver's Comments:</span>
                                                        </p>
                                                        <p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
                                                            <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
                                                                ><%=costingProfile.ApprovalNotes?costingProfile.ApprovalNotes:"No bypass justification was provided."%></span>
                                                        </p>
                                                    </div>
                                                <%}%>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap">Please access <a href="<%=process.env.PROD_URL%>summary/<%=costingProfile.id %>" target="_blank">cost summary</a> to view detailed project specifications and approve/deny this request.</span>
												</p>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap">All input material for this project can be accessed from the <a target="_blank" style="color: #15c;" href="https://drive.google.com/drive/folders/<%=costingProfile.Project.ProjectResourcesFolderId%>">project resources folder</a></span>
												</p>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														>If any costing input sheets were used, those can be accessed from the </span><a target="_blank" style="color: #15c;" href="https://drive.google.com/drive/folders/<%=costingProfile.Project.CostingsFolderId%>">costing folder</a>.</span>												
												</p>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap">Alternatively, you can access <a href="<%=process.env.PROD_URL%>requests/" target="_blank">requests board</a> to view all requested items and action as required.</span>
												</p>
												<br />
												<p dir="ltr" style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt">
													<span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														>This approval request has been sent to the following recipients: <% var mailList = notificationRecepients; for (var i = 0; i < mailList.length; i++){%> <br /><%=mailList[i]%> <%}%></span
													>
												</p>
												<br />
											</td>
										</tr>
										<tr style="height: 0pt">
											<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-right: 21.75pt; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="font-size: 7pt; font-family: Arial; color: rgb(112, 114, 118); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														>Copyright © <%= new Date().getFullYear();%> Nielsen Consumer (US), LLC. All rights reserved. Confidential and Proprietary</span
													>
												</p>
											</td>
										</tr>
										<tr style="height: 0pt">
											<td style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden">
												<p dir="ltr" style="line-height: 1.2; margin-right: 21.75pt; margin-top: 0pt; margin-bottom: 0pt">
													<span
														style="font-size: 7pt; font-family: Arial; color: rgb(112, 114, 118); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap"
														>This message is for internal information only to employees of Nielsen IQ</span
													>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<br />
							<div dir="ltr" style="margin-left: 0pt" align="center">
								<table style="border: none; border-collapse: collapse; width: 100%; table-layout: fixed">
									<colgroup>
										<col />
										<col width="121" />
										<col width="101" />
										<col width="127" />
										<col width="97" />
									</colgroup>
									<tbody>
										<tr style="height: 0pt">
											<td colspan="5" style="border-width: 1pt; border-style: solid; border-color: rgb(255, 255, 255); vertical-align: top; padding: 5pt; overflow: hidden"><br /></td>
										</tr>
									</tbody>
								</table>
							</div>
							<br />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
