<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<style>
    table {
        border: 1px solid !important;
        border-collapse: collapse !important;
    }

    td,
    th {
        padding: 5px;
        border-collapse: collapse !important;
        border: 1px solid !important;
    }

    .text-uppercase {
        text-transform: uppercase;
    }
</style>

<body style="text-align: left;">
    <table style="border-spacing: 0;width: 50rem;">
        <tr style="height:56pt">
            <td style="vertical-align:middle;background-color:rgb(178,29,172);padding:5pt;overflow:hidden">
                <p dir="ltr" style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt"> <span
                        style="font-size:11pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><span
                            style="border:none;display:inline-block;overflow:hidden;width:54px;height:54px"><img
                                src="https://storage.googleapis.com/workflow-tool-static-resources/EWN-Note.png"
                                width="41" height="54" style="margin-left:0px;margin-top:0px"
                                class="CToWUd"></span></span></p>
            </td>
            <td style="vertical-align:middle;background-color:rgb(178,29,172);overflow:hidden">
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span
                        style="font-size:18pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;">EARLY
                        WARNING NOTE</span></p>
            </td>
            <td style="vertical-align:top;background-color:rgb(178,29,172);overflow:hidden">
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span
                        style="font-size:11pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><span
                            style="border:none;display:inline-block;overflow:hidden;width:26px;height:37px"><img
                                alt="N-Element-Tab-White_RGB.png"
                                src="https://storage.googleapis.com/workflow-tool-static-resources/N-Element-Tab-White_RGB.png"
                                width="26" height="37" style="margin-left:0px;margin-top:0px"
                                class="CToWUd"></span></span></p>
            </td>
        </tr>
    </table>
    <div style="width: 50rem;">
        <p style="font-family: Arial;color: #b21dac;font-size: 12pt;">INTERNAL ONLY</p>

        <p style="font-size: 18pt;font-family: Arial;color: rgb(0,0,0);font-weight: 700;">
            <%=wave.EWNVersion>1?"COMMISSIONED PROJECT UPDATED":"NEW PROJECT COMMISSIONED"%></p>

        <p><strong>Dear teams,</strong><br><br>
            Following are the details of
            <%=wave.EWNVersion>1?"the project updated by ":"a new project commissioned by "%><a style="color: #15c;"
                target="_blank" href="mailto:<%=ewnSender%>"><%=ewnSender%></a> for
            <%=(codeLabels.FieldingCountriesOptions.filter(final => final.Code == wave.CostingProfile.Project.CommissioningCountry))[0].Label%>
            <%=codeLabels.BusinessUnitOptions.Label%>. For any
            further questions regarding this project, please contact
            <a style="color: #15c;" href="mailto:<%=opsContacts%>"><%=opsContacts%></a>.<br /><br />This project is
            <%=codeLabels.BusinessUnitOptions.Label%> revenue.</p>

    </div>
    <div style="width: 50rem;">
        <p>Please access the <a target="_blank" style="color: #15c;"
                href="<%=process.env.PROD_URL%>summary/<%=wave.CostingProfile.id %>">cost summary</a> to
            view detailed project specifications and profitability report.</p>
        <p>All input material for this project can be accessed from the <a target="_blank" style="color: #15c;"
                href="https://drive.google.com/drive/folders/<%=wave.CostingProfile.Project.ProjectResourcesFolderId%>">project
                resources
                folder</a>.</p>
        <p>If any costing sheets or other documents were used, those can be accessed from <a target="_blank"
                href="https://drive.google.com/drive/folders/<%=wave.CostingProfile.Project.CostingsFolderId%>"
                style="color: #15c;">costings
                folder</a>.</p>
        <p><strong><u>Reminder</u><br /></strong><em>Please do not share any costings details with external teams (i.e.
                TCS etc.)<br /> A separate
                version of EWN without cost breakdown has also been sent to relevant external teams.</em>
        </p>
    </div>
    <div>
        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="project-details">
            <h3 colspan="12" style="text-transform:uppercase;">
                Project Details</h3>
            <table style="background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                <tbody>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Project Name</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%= wave.CostingProfile.Project.ProjectName %></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Wave Number</td>
                        <%if (wave.CostingProfile.IsTracker){%>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            #<%=wave.WaveNumber%><%=wave.WaveName?" - "+wave.WaveName:""%>
                        </td>
                        <%}else{%>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Not Applicable</td>
                        <%}%>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Project Number</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%= wave.CostingProfile.Project.ProjectId %>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Primary Nielsen Contact
                            Email
                        </td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%= wave.CostingProfile.Project.ProposalOwnerEmail.value %></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Other Project Team Contacts
                        </td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">

                            <ul style="list-style:none;padding:0;">
                                <% wave.CostingProfile.Project.OtherProjectTeamContacts.forEach(function(item){ %>
                                <li style="margin:0;">
                                    <%= item.value %>
                                </li>
                                <% }) %>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Syndicated Project</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.Project.IsSyndicated?"Yes":"No"%></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Client Details</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <ul style="list-style:none;padding:0;">
                                <%if(wave.CostingProfile.Project.ContractDetails){%>
                                <% wave.CostingProfile.Project.ContractDetails.forEach(function(item){ %>
                                <li style="margin:0;">
                                    <%= item.AccountName %> <%if(item.OpportunityNumber) {%>
                                        - (<%=item.OpportunityNumber%>) 
                                       <%} %>
                                </li>
                                <% }) %>
                                <%}%>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">WBS Number</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <ul style="list-style:none;padding:0;">
                                <%if(wave.CostingProfile.Project.ContractDetails){%>
                                <% wave.CostingProfile.Project.ContractDetails.forEach(function(item){ %>
                                <li style="margin:0;">
                                    <%if(item.opportunityLineItemDetails && item.opportunityLineItemDetails.length) {%>
                                        <%=item.opportunityLineItemDetails.map(old=>old.WBSNumber).join()%>
                                       <%} %>
                                </li>
                                <% }) %>
                                <%}%>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Commissioning Country</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=(codeLabels.FieldingCountriesOptions.filter(final => final.Code == wave.CostingProfile.Project.CommissioningCountry))[0].Label%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Commissioning Office</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=codeLabels.OfficeOptions.Label %>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Business Unit</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%= codeLabels.BusinessUnitOptions.Label %></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Vertical</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%= codeLabels.VerticalOptions.Label %></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">All Fielding Countries</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%if(wave.CostingProfile.FieldingCountries && typeof wave.CostingProfile.FieldingCountries == "string") {%>
                            <ul style="list-style:none;padding:0;">

                                <%wave.CostingProfile.FieldingCountries.split(",").forEach(function(fc){%>
                                <li style="margin:0;"><%=(codeLabels.FieldingCountriesOptions.filter(final => final.Code == fc))[0].Label%>
                                </li>
                                <%})%>

                            </ul>
                            <%}%>
    
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Methodologies</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%if(wave.CostingProfile.Methodology!=null){%>
                                <ul style="list-style:none;padding:0;">
    <%wave.CostingProfile.Methodology.split(",").forEach(function(item){%>

                            <li style="margin:0;">
                                <%=(codeLabels.MethodologyOptions.filter(final => final.Code == item))[0].Label%>
                            </li>
                                <%})%>
                                </ul>
                                <% } %> 
                                <%if(wave.CostingProfile.SubMethodology==null){%>
                                   <%="No Methodology exists" %> 
                                   <% } %> 

                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">Sub-Methodologies</td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%if(wave.CostingProfile.SubMethodology!=null){%>
                            <ul style="list-style:none;padding:0;">
                                <%wave.CostingProfile.SubMethodology.split(",").forEach(function(item){%>
                                <li style="margin:0;"><%=(codeLabels.SubMethodologyOptions.filter(final => final.Code == item))[0].Label%>
                                 </li>   <%})%>
                                 
                                </ul>
                                <% } %> 
                                <%if(wave.CostingProfile.SubMethodology==null){%>
                                   <%="No Submethodology exists" %> 
                                   <% } %> 
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">Tracker</td>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=wave.CostingProfile.IsTracker ? "Yes" : "No"%></td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">Tracking Frequency</td>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=wave.CostingProfile.IsTracker&&codeLabels.TrackingFrequencyOptions.length && codeLabels.TrackingFrequencyOptions.filter(frq => frq.Code == wave.CostingProfile.TrackingFrequency).length ?codeLabels.TrackingFrequencyOptions.filter(frq => frq.Code == wave.CostingProfile.TrackingFrequency)[0].Label :"NA"%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">Total Waves</td>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=wave.CostingProfile.IsTracker ? wave.CostingProfile.NumberOfWaves:"NA"%></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="schedule">

            <h3 colspan="12" style="text-transform:uppercase;">
                <%="Schedule"%></h3>
            <table
                style=" background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">

                <tbody>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Date Commissioned"%>
                        </th>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.DateWaveCommissioned?new Date(wave.DateWaveCommissioned).toDateString():"Not Available"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            Date Final Questionnaire Available</th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateFinalQuestionnaireNA?new Date(wave.DateFinalQuestionnaire).toDateString():"No Programming Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid; border-collapse: collapse; padding: 5px"><%="Date Field Start"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateFieldworkNA?new Date(wave.DateFieldStart).toDateString():"No Fieldwork Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid; border-collapse: collapse; padding: 5px"><%="Date Field End"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateFieldworkNA?new Date(wave.DateFieldEnd).toDateString():"No Fieldwork Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%="Date Data Processing Due"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateDataProcessingNA?new Date(wave.DateDataProcessing).toDateString():"No Data Processing Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Date Dashboard Due"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateDashboardsNA?new Date(wave.DateDashboards).toDateString():"No Dashboards Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Date Charts Due"%></th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateChartsNA?new Date(wave.DateCharts).toDateString():"No Charts Required"%></td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%="Date Translations Due"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateTranslationsNA?new Date(wave.DateTranslations).toDateString():"No Translations Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%="Date Verbatim Coding Due"%>
                        </th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateVerbatimCodingNA?new Date(wave.DateVerbatimCoding).toDateString():"No Verbatim Coding Required"%>
                        </td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%="Date Final Report Due to the Client"%></th>
                        <td style="border: 1px solid; border-collapse: collapse; padding: 5px">
                            <%=!wave.DateFinalReportNA?new Date(wave.DateFinalReport).toDateString():"No Final Reports Required"%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="specifications">
            <h3 colspan="12" style="text-transform:uppercase;">
                <%="Fieldwork Specifications"%>
                <%=wave.CostingProfile.IsMultiCountry ? "(Per Country)" : ""%></h3>
            <table
                style=" background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">

                <tbody>
                    <% wave.CostingProfile.CountrySpecs[0].MethodologySpecs.forEach(function(ms){%>

                    <%let rfqData = {}%>

                    <% wave.CostingProfile.CountrySpecs.forEach(function(cs){%>
                    <%cs.MethodologySpecs.filter((mspc) => !mspc.NotApplicable).forEach(function(mspc){%>

                    <%if (!rfqData[cs.CountryCode]) {%>
                    <%rfqData[cs.CountryCode] = {}%>
                    <%}%>
          
            <%if (!rfqData[cs.CountryCode][mspc.Code]) {%>
                    <%rfqData[cs.CountryCode][mspc.Code] = {}%>
                    <%}%>
          <%rfqData[cs.CountryCode][mspc.Code] = mspc.RFQData%>

                    <%})%>

                    <%})%>

                    <% let renderMeth=false %>
                    <% wave.CostingProfile.CountrySpecs.forEach(function(country){%>
                    <% renderMeth=renderMeth||(rfqData[country.CountryCode] && rfqData[country.CountryCode][ms.Code]&& Object.keys(rfqData[country.CountryCode][ms.Code]).length>0) %>

                    <%}) %>
                    <%if(renderMeth){%>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <h4 class="text-uppercase mb-0"><%=ms.Label%></h4>
                        </th>
                        <%wave.CostingProfile.CountrySpecs.forEach(function(country){%>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">

                        </th>
                        <%})%>
                    </tr>
                    <%}%> 

                    <%if(ms.RFQSchema) {%>

                    <%ms.RFQSchema.order.forEach(function(ord){%>

                    <%let property=""%>
                    <%if (ms.RFQSchema.properties[ord]) {%>

                    <% property= ms.RFQSchema.properties[ord]%>
                    <%}%>
    
    <%if (ms.RFQSchema.dependencies) {%>
                    <%Object.keys(ms.RFQSchema.dependencies).forEach(function(dep){%>
                    <%ms.RFQSchema.dependencies[dep].oneOf.forEach(function(oo){%>
                    <%if (oo.properties[ord]&&oo.properties[ord].title&&!ms.RFQSchema.properties[ord]) {%>
                    <%property = oo.properties[ord]%>
                    <%}%>
          <%})%>
                    <%})%>
                    <%}%>

                    <% let renderRow=false %>
                    <% wave.CostingProfile.CountrySpecs.forEach(function(country){%>
                    <% renderRow=renderRow||(rfqData[country.CountryCode] && rfqData[country.CountryCode][ms.Code]&&rfqData[country.CountryCode][ms.Code][ord]) %>

                    <%}) %>


                    <%if (property.isNewSection&&renderRow) {%>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%=property.sectionTitle%>
                        </th>

                        <%wave.CostingProfile.CountrySpecs.forEach(function(country){%>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=(codeLabels.FieldingCountriesOptions.filter(final => final.Code == country.CountryCode))[0].Label%>
                        </th>
                        <%})%>

                    </tr>
                    <%}%>
                    
                    <%if(renderRow){%>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><%=property.title%></td>

                        <%wave.CostingProfile.CountrySpecs.forEach(function(country){%>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%if(rfqData[country.CountryCode] && rfqData[country.CountryCode][ms.Code]) {%>

                            <%if(Array.isArray(rfqData[country.CountryCode][ms.Code][ord])) {%>

                            <%=rfqData[country.CountryCode][ms.Code][ord].join()%>

                            <%}%>
    
                <%if(Array.isArray(rfqData[country.CountryCode][ms.Code][ord])==false) {%>
                            <%=rfqData[country.CountryCode][ms.Code][ord]%>
                            <%}%>
    
                <%}%>

                            <%if(!(rfqData[country.CountryCode] && rfqData[country.CountryCode][ms.Code])) {%>
                            <%="Not Applicable"%>
                            <%}%>
    
            </td>
            <%})%>
                    </tr>
                    <% }%>

                    <%})%>

                    <%}%>
    
                        <%if(ms.RFQSchemaNA) {%>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><%=ms.Label%></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%="No data is available for this methodology."%>
                        </td>
                    </tr>
                    <%}%>
    
                        <%})%>

                </tbody>
            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="ops-resources">


            <h3 colspan="12" style="text-transform:uppercase;">
                <%="Operations Resources Breakdown"%></h3>
            <table
                style=" background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                <tbody>
                    <%wave.OpsResourcesSchema.order.forEach(function(ord){%>

                    <%let schema=wave.OpsResourcesSchema%>
                    <%let property=""%>
                    <%if (schema.properties[ord]) {%>

                    <% property= schema.properties[ord]%>
                    <%}%>

<%if (schema.dependencies) {%>
                    <%Object.keys(schema.dependencies).forEach(function(dep){%>
                    <%schema.dependencies[dep].oneOf.forEach(function(oo){%>
                    <%if (oo.properties[ord]&&oo.properties[ord].title&&!schema.properties[ord]) {%>
                    <%property = oo.properties[ord]%>
                    <%}%>
      <%})%>
                    <%})%>
                    <%}%>
<%if(property){%>
                    <%if(property.isNewSection&&wave.OpsResourcesData && (wave.OpsResourcesData[ord]||wave.OpsResourcesData[ord]==false)){%>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%=property.sectionTitle%>
                        </th>

                        <th style="border:1px solid; border-collapse:collapse; padding:5px">



                        </th>


                    </tr>
                    <%}%>

                    <%if(wave.OpsResourcesData && (wave.OpsResourcesData[ord]||wave.OpsResourcesData[ord]==false)){%>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><%=property.title%></td>

                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <% if(ord.toLowerCase().indexOf("complexity")!=-1){%>
                            <%if(wave.OpsResourcesData && (wave.OpsResourcesData[ord]||wave.OpsResourcesData[ord]==false)){%>
                            <% if(ord=="surveyProgrammingComplexity") {%>
                            <%=codeLabels.QuestionnaireComplexityOptions.filter(frq => frq.Code == wave.OpsResourcesData[ord])[0].Label%>
                            <% } %>
                            <% if(ord=="dataProcessingComplexity") {%>
                            <%=codeLabels.DataProcessingComplexityOptions.filter(frq => frq.Code == wave.OpsResourcesData[ord])[0].Label%>
                            <% } %>
                            <% if(ord=="chartingComplexity") {%>
                            <%=codeLabels.ChartingComplexityOptions.filter(frq => frq.Code == wave.OpsResourcesData[ord])[0].Label%>
                            <% } %>

                            <%}%>
                                <%if(!(wave.OpsResourcesData && wave.OpsResourcesData[ord])){%>
                            <%="Not Applicable"%>
                            <%}%>
                            <%} %>
                            <% if(ord.toLowerCase().indexOf("complexity")==-1){%>
                            <%if(wave.OpsResourcesData && (wave.OpsResourcesData[ord]||wave.OpsResourcesData[ord]==false)){%>

                            <%if(Array.isArray(wave.OpsResourcesData[ord])){%>
                            <%=wave.OpsResourcesData[ord].join()%>
                            <%}%>
                                    <%if(!Array.isArray(wave.OpsResourcesData[ord])&&(typeof wave.OpsResourcesData[ord] != "boolean")){%>
                            <%=wave.OpsResourcesData[ord]%>
                            <%}%>
                                    <%if(typeof wave.OpsResourcesData[ord] == "boolean"){%>
                            <% if(wave.OpsResourcesData[ord]) {%>
                            <%="Yes"  %>
                            <%}%> 
                                        <% if(!wave.OpsResourcesData[ord]) {%>
                            <%="No"  %>
                            <%}%> 
                                <%}%>

                            <%}%>
                                <%if(!(wave.OpsResourcesData && (wave.OpsResourcesData[ord]||wave.OpsResourcesData[ord]==false))){%>
                            <%="Not Applicable"%>
                            <%}%>
                            <%} %>
                        </td>


                    </tr>
                    <%}%>

                            <%}%>

                    <%})%>


                </tbody>
            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;"
            class="commercial-breakdown">
            <h3 colspan="12" style="text-transform:uppercase;">

                <%="CLIENT SERVICE HOURS"%>

            </h3>
            <table
                style=" background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                <% const bands = ["Executive Director","Director","Associate Director","Senior Manager","Manager","Senior Executive","Executive","Data Science"]%>

                <tbody>
                    <% if(wave.CostingProfile.IsTracker){%>
                    <%bands.forEach(function(band){%>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%=band%></th>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=(wave.CommercialHoursData&&wave.CommercialHoursData[band])?wave.CommercialHoursData[band]["Total"]:"-"  %>
                        </td>
                    </tr>
                    <%})%>
                    <% } %>

                </tbody>
                <tfoot>
                    <% let finalTotal=0 %> 
                    <%bands.forEach(function(band){%>
                                  <%finalTotal=finalTotal+((wave.CommercialHoursData&&wave.CommercialHoursData[band])?wave.CommercialHoursData[band]["Total"]:0)  %>
                        <%})%>
                    <tr>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Total Hours" %></th>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><%=finalTotal%></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="costs-breakdown">
            <h3 colspan="12" style="text-transform:uppercase;">
                <%="COST BREAKDOWN"%>
                <%=wave.CostingProfile.IsMultiCountry ? "(Per Country)" : ""%>
            </h3>
            <table
                style=" background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                <thead>
                    <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Component"%></th>
                    <th style="border:1px solid; border-collapse:collapse; padding:5px"><%="Total"%></th>
                    <%if(wave.CostingProfile.IsMultiCountry){%>
                    <%wave.CostingProfile.CountrySpecs.forEach(function(cs){%>
                    <th style="border:1px solid; border-collapse:collapse; padding:5px">
                        <%=(codeLabels.FieldingCountriesOptions.filter(final => final.Code == cs.CountryCode))[0].Label%>
                    </th>
                    <%})%>

                    <%}%>
    
                </thead>
                
                    <%const costlabels = {CostTotalExternalOperations: "Total External Operations Costs (OOP)",CostExtOpsInterviewers: "Interviewers - Temporaries & Subcontractors",CostExtOpsDCQCDPSP: "External DC/Coding/QC/DP/Programming/Scripting",CostExtOpsTE: "Travel, Lodging and Entertainment",CostExtOpsOthers: "External Others",CostExtOpsIncentives: "Incentives/Respondent Fees",CostExtOpsConsultantVendor: "External Consultant/Vendor",CostExtOpsPrintingStationery: "Printing/Stationery",CostExtOpsFreightShipping: "Freight/Shipping",CostExtOpsVenueHireRecruitment:"Venue/Hire/Recruitment and Other Misc. Externals",CostTotalInternalOperations: "Total Internal Operations Costs",CostIntOpsFieldPMQC: "Internal Time Field, Project Management & QC",CostIntOpsOthers: "Internal Other Ops",CostIntOpsProgramming: "Internal Time Programming",CostIntOpsDPCodingAnalysis: "Internal Time Data Processing/Coding/Analysis",CostTotalExternalCommercial: "Total External Commercial Costs",CostExtCommTE: "Travel, Lodging and Entertainment",CostExtCommConsultant: "External consultant/report writing",CostExtCommOthers: "CS Other Expenses",CostTotalInternalCommercial: "Total Internal Commercial Costs",}%>
                    <%const costIntCommLabels = {CostIntCommExecDirector: "Executive Director",CostIntCommDirector: "Director",CostIntCommAssociateDirector: "Associate Director",CostIntCommSeniorManager: "Senior Manager",CostIntCommManager: "Manager",CostIntCommSeniorExecutive: "Senior Executive",CostIntCommExecutive: "Executive",CostIntCommDataScience: "Data Science"}%>
                    <%  let costFields = {} %>
                    <%let values = wave.CostingProfile.CostInputCurrency.split("-")%>
                    <%let currencyUnit = values[1]%>
                    <%let countryCode = values[0]%>
                    <%let currentCurrency = {}%>
                    <%if (currencies) {%>
                    <%currentCurrency = currencies.filter((cur) => cur.Code == countryCode && cur.CurrencyUnit == currencyUnit)[0]%>
                    <%}%>
    
                    <%let getCurrentCurrency = function(actualvalue, currencyvalue){%>
                    <%if (!currencyvalue){%>
                    <%currencyvalue = "US-USD"%>
                    <%}%>
                        
                       <%   if (currencies && currentCurrency.ConversionRateToLocal) { %>
                    <% if (actualvalue) {%>
                    <%let finalVal = (actualvalue / currentCurrency.ConversionRateToLocal,2).toFixed(2)%>
                    <%  return finalVal+" "+currentCurrency.CurrencyUnit %>
                    <%  } %>
                    <%  if(!actualvalue) {%>
                    <%  return "0"+" "+ currentCurrency.CurrencyUnit %>

                    <%}%>
                       <%}%>


                    <%}%>
                    
        <%wave.CostingProfile.CountrySpecs[0].MethodologySpecs.forEach(function(ms){%>
                    <%Object.keys(ms.CalculationSchema).forEach(function(csch){%>
                    <%if (!costFields[csch]) {%>
                    <%costFields[csch] = []%>
                    <%}%>
            <%Object.keys(ms.CalculationSchema[csch]).forEach(function(insch){%>
                    <%if (costFields[csch].indexOf(insch)==-1) {%>
                    <%costFields[csch].push(insch)%>
                    <%}%>
         <% }) %>
                    <% }) %>
                    <%})%>

                    <%Object.keys(costFields).forEach(function(cf){%>
                <tbody>
                    <%  if(costFields[cf].length){ %>

                    <%  costFields[cf].forEach(function(ccf){ %>

                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><%=costlabels[ccf] %></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=getCurrentCurrency(wave.CostingProfile[ccf],wave.CostingProfile.CostInputCurrency)%>
                        </td>
                        <%if(wave.CostingProfile.IsMultiCountry){%>
                        <%wave.CostingProfile.CountrySpecs.forEach(function(cs){%>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=getCurrentCurrency(cs[ccf],cs.CostInputCurrency)%>
                        </td>
                        <%})%>
                        <%}%>
                                    
                    </tr>
                               <% }) %>

                        <%} %>
                        <%  if(!costFields[cf]||!costFields[cf].length){ %>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%="Breakdown Not Available - Using OOP % Multiplier"%>
                        </td>
                    </tr>
                    <%Object.keys(costIntCommLabels).forEach(function(cicl) {%>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=costIntCommLabels[cicl]%>
                        </td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=getCurrentCurrency(wave.CostingProfile[cicl],wave.CostingProfile.CostInputCurrency)%>
                        </td>

                    </tr>
                    <%})%>

                    <%} %>

                    <tr class="text-uppercase">
                        <th style="border:1px solid; border-collapse:collapse; padding:5px"><%=costlabels[cf]%></th>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=getCurrentCurrency(wave.CostingProfile[cf],wave.CostingProfile.CostInputCurrency)%>
                        </th>
                        <%if(wave.CostingProfile.IsMultiCountry && cf != "CostTotalInternalCommercial"){%>
                        <%wave.CostingProfile.CountrySpecs.forEach(function(cs) {%>
                        <th style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=getCurrentCurrency(cs[cf],cs.CostInputCurrency)%>
                        </th>
                        <%})%>
                        <%}%>
                      </tr>
                </tbody>
                    <% }) %>

            </table>
        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="profitibility">
            <h3 colspan="12" style="text-transform:uppercase;">
                <%="Profitability Overview"%></h3>
            <table style="border-collapse:collapse; width: inherit;">

                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><strong>Total Internal
                                Operations Cost</strong></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.CostTotalInternalOperations?getCurrentCurrency(wave.CostingProfile.CostTotalInternalOperations):"0"%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><strong>Total External
                                Operations / OOP / Third Party Cost</strong></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.CostTotalExternalOperations?getCurrentCurrency(wave.CostingProfile.CostTotalExternalOperations):"0"%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><strong>Total Internal
                                Commercial Cost</strong></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.CostTotalInternalCommercial?getCurrentCurrency(wave.CostingProfile.CostTotalInternalCommercial):"0"%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><strong>Total External
                                Commercial Cost</strong></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.CostTotalExternalCommercial?getCurrentCurrency(wave.CostingProfile.CostTotalExternalCommercial):"0"%>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px"><strong>Actual Price Given
                                To Client</strong></td>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px">
                            <%=wave.CostingProfile.PriceToClient?getCurrentCurrency(wave.CostingProfile.PriceToClient):"0"%>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div style="background-color:#e0e0e0; margin-bottom:10px;width: 50rem;padding: 10px;" class="notes">

            <h3 colspan="12" style="text-transform:uppercase;">
                <%="EWN Notes"%></h3>
            <table style="border-collapse:collapse; width: inherit;">
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Project Manager"%></b></th>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesPM?wave.NotesPM:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Programming team"%></b></th>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesFinalQuestionnaire?wave.NotesFinalQuestionnaire:"No notes provided"%>
                        </td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Field Work"%></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesFieldwork?wave.NotesFieldwork:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Data Processing Team"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesDataProcessing?wave.NotesDataProcessing:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Dashboarding Team"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesDashboards?wave.NotesDashboards:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Charting Team"%></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesCharts?wave.NotesCharts:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Translations Team"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesTranslations?wave.NotesTranslations:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Verbatim Coding Team"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesVerbatimCoding?wave.NotesVerbatimCoding:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Final Reporting"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesFinalReport?wave.NotesFinalReport:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Notes for Data Science"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesDataScience?wave.NotesDataScience:"No notes provided"%></td>
                    </tr>
                </tbody>
                <br>
                <tbody style="margin-bottom: 5px;background-color:white!important;">
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <b><%="Other Notes"%></b></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; border-collapse:collapse; padding:5px;width: 50rem">
                            <%=wave.NotesOther?wave.NotesOther:"No notes provided"%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
    </div>
</body>

</html>