<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   </head>
   <body>
      <div dir="ltr" align="left">
         <table style="border:none;border-collapse:collapse">
            <colgroup>
               <col width="573">
            </colgroup>
            <tbody>
               <tr style="height:216pt">
                  <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                     <br>
                     <div dir="ltr" style="margin-left:0pt" align="center">
                        <table style="border:none;border-collapse:collapse">
                           <colgroup>
                              <col width="95">
                              <col width="380">
                              <col width="83">
                           </colgroup>
                           <tbody>
                              <tr style="height:56pt">
                                 <td style="vertical-align:middle;background-color:rgb(255,177,0);padding:5pt;overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt"><span style="font-size:11pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><span style="border:none;display:inline-block;overflow:hidden;width:54px;height:54px"><img src="https://storage.googleapis.com/workflow-tool-static-resources/request-created.png" width="37" height="54" style="margin-left:0px;margin-top:0px" class="CToWUd"></span></span></p>
                                 </td>
                                 <td style="vertical-align:middle;background-color:rgb(255,177,0);overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:18pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">REQUEST NOTIFICATION</span></p>
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:10pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><?=data.ProjectName?> (<?=data.ProjectId?>)</span></p>
                                 </td>
                                 <td style="vertical-align:top;background-color:rgb(255,177,0);overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:11pt;font-family:Arial;color:rgb(255,255,255);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><span style="border:none;display:inline-block;overflow:hidden;width:26px;height:37px"><img alt="N-Element-Tab-White_RGB.png" src="https://storage.googleapis.com/workflow-tool-static-resources/N-Element-Tab-White_RGB.png" width="26" height="37" style="margin-left:0px;margin-top:0px" class="CToWUd"></span></span></p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <br>
                     <div dir="ltr" style="margin-left:0pt" align="left">
                        <table style="border:none;border-collapse:collapse;width:100%;table-layout:fixed">
                           <colgroup>
                              <col>
                           </colgroup>
                           <tbody>
                              <tr style="height:0pt">
                                 <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;margin-right:21.75pt;margin-top:0pt;margin-bottom:0pt"><span style="font-size:12pt;font-family:Arial;color:rgb(255,177,0);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">INTERNAL ONLY</span></p>
                                 </td>
                              </tr>
                              <tr style="height:0pt">
                                 <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                                    <p dir="ltr" style="line-height:1.38;margin-right:30.75pt;margin-top:0pt;margin-bottom:0pt"><span style="font-size:18pt;font-family:Arial;color:rgb(0,0,0);background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">Task Completion Notification</span></p>
                                 </td>
                              </tr>
                              <tr style="height:0pt">
                                 <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                                    <br>
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><b>Dear Team Member,</b></span></p>
                                    <br>
                                     <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">The following activities has been completed, please ensure to close the pending activities on time.</span></p>
                                    <br>
                                    <div style="background-color:#e0e0e0; margin-bottom:10px;width: 30rem;padding: 10px;" class="project-details">
                                       <h3 colspan="12" style="text-transform:uppercase;">
                                          Project Details
                                       </h3>
                                       <table style="background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                                          <tbody>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">Project Name</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.name %></td>
                                              </tr>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">Project ID</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.id %></td>
                                              </tr>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">Methodology</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.methodology %></td>
                                              </tr>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">Current Wave</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.currentWave %></td>
                                              </tr>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">FW Start Date</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.fwStartDate %></td>
                                              </tr>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px">FW End Date</td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= ProjectDetails.fwEndDate %></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                    </div>
                                    <br>
                                    <div style="background-color:#e0e0e0; margin-bottom:10px;width: 30rem;padding: 10px;" class="project-details">
                                       <h3 colspan="12" style="text-transform:uppercase;">
                                          COMPLETED ACTIVITES (for the whole day)
                                       </h3>
                                       <table style="background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                                          <tbody>
                                             <tr>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Activity Name</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Owner</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Planned Date</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Actual Date</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">User</th>
                                            </tr>
                                             <% CompletedTasks.forEach((CompletedTask) => { %>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= CompletedTask.Task %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= CompletedTask.Owner %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= CompletedTask.PlannedDate %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= CompletedTask.ActualDate %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= CompletedTask.User %></td>
                                              </tr>
                                              <% }); %>
                                          </tbody>
                                      </table>
                                    </div>
                                    <br>
                                    <div style="background-color:#e0e0e0; margin-bottom:10px;width: 30rem;padding: 10px;" class="project-details">
                                       <h3 colspan="12" style="text-transform:uppercase;">
                                          PENDING ACTIVITES (upto 3 next inline activities)
                                       </h3>
                                       <table style="background-color:white!important;border:1px solid; border-collapse:collapse; width: inherit;">
                                          <tbody>
                                             <tr>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Activity Name</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Owner</th>
                                                <th style="border:1px solid; border-collapse:collapse; padding:5px">Planned Date</th>
                                             </tr>
                                             <% PendingTasks.forEach((PendingTask) => { %>
                                              <tr>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= PendingTask.Task %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= PendingTask.Owner %></td>
                                                  <td style="border:1px solid; border-collapse:collapse; padding:5px"><%= PendingTask.PlannedDate %></td>
                                              </tr>
                                              <% }); %>
                                          </tbody>
                                      </table>
                                    </div>
                                    <br>
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">Please access </span><a href="<?=data.CostingSummaryURL?>"><span style="font-size:10pt;font-family:Arial;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline;white-space:pre-wrap">cost summary</span></a><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"> to view detailed project specifications.</span></p>
                                    <br>
                                    <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt"><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">You can access </span><a href="https://script.google.com/a/macros/nielsen.com/s/AKfycbx-VvSY9-24bXEkxMjPG8KFKqLvcH8ycGquRZCg7AIu9Ip7CEysjl344Z6W8vBOBv444Q/exec#RequestBoard" style="text-decoration-line:none" target="_blank"><span style="font-size:10pt;font-family:Arial;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-line:underline;vertical-align:baseline;white-space:pre-wrap">requests board</span></a><span style="font-size:10pt;font-family:Arial;color:rgb(0,0,0);font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"> to view all requested items and action as required.</span></p>
                                    <br>
                                 </td>
                              </tr>
                              <tr style="height:0pt">
                                 <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;margin-right:21.75pt;margin-top:0pt;margin-bottom:0pt"><span style="font-size:7pt;font-family:Arial;color:rgb(112,114,118);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">Copyright &copy; 2019 The Nielsen Company (US), LLC. All rights reserved. Confidential and Proprietary</span></p>
                                 </td>
                              </tr>
                              <tr style="height:0pt">
                                 <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                                    <p dir="ltr" style="line-height:1.2;margin-right:21.75pt;margin-top:0pt;margin-bottom:0pt"><span style="font-size:7pt;font-family:Arial;color:rgb(112,114,118);background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">This message is for internal information only to employees of The Nielsen Company.</span></p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <br>
                     <div dir="ltr" style="margin-left:0pt" align="center">
                        <table style="border:none;border-collapse:collapse;width:100%;table-layout:fixed">
                           <colgroup>
                              <col>
                              <col width="121">
                              <col width="101">
                              <col width="127">
                              <col width="97">
                           </colgroup>
                           <tbody>
                              <tr style="height:0pt">
                                 <td colspan="5" style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden"><br></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <br>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>